:root {
  --bg: #13161b;
  --panel: #161b22;
  --muted: #8b949e;
  --text: #e6edf3;
  --accent: #2ea043;
  --danger: #f85149;
  --warn: #d29922;
  --blue: #388bfd;
}

/*
.white-border {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}*/

.fs18 {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(0, 12, 24);
  color: #f7ef8a;
  /*font: 18px/1.4 system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;*/
  font: 18px/1.4 'Barlow', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.wrap {
  /*max-width: 1200px;*/
  margin: 0 auto;
  padding: 1.5rem;
}

.flex {
  display: flex;
}

.flex.flex-col {
  flex-direction: column;
}
/*
.one {
  grid-template-columns: 1fr;  één kolom 
}

.two {
  grid-template-columns: 1fr 1fr;
}

.three {
  grid-template-columns: repeat(3, 1fr);
}*/

.panel {
  background: rgba(0, 34, 68, 1);
  border: 1px solid #f7ef8a;
  border-radius: 14px;
  padding: 1rem 2rem 2rem 2rem;
  width: 50%;
}

.players-panel {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #f7ef8a;
  border-radius: 14px;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-boards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-boards .player-panel:not(:first-child) {
  margin-left: 2rem;
}

.player-panel {
  opacity: 0.5;
  /*background: var(--panel);*/
  background: rgb(0, 12, 24);
  /*border: 2px solid rgba(254, 241, 162, 0.4);*/
  border: inset rgba(255, 210, 119, 0.4);
  border-radius: 14px;
  width: 35rem;
  /*margin-left: 2rem;
	margin-right: 2rem;*/
  padding: 1rem;
}

.button-panel,
.stats-panel,
.log-panel {
  background: rgba(0, 34, 68, 1);
  border: 1px solid #f7ef8a;
  border-radius: 14px;
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
}

.panel.start-panel {
  margin: auto;
  margin-top: 20rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
}

.start-panel .title {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-panel .player-names {
  display: flex;
}

.start-panel .player-names div {
  margin-right: 1rem;
}

.start-panel .btns {
  align-self: center;
}

.start-panel .btns button {
  font-family: 'Inter', sans-serif;
  width: 12rem;
}

.start-panel .btns button:not(:first-child) {
  margin-left: 1rem;
  border: 1px solid var(--text);
}

.current {
  opacity: 1;
  border: inset rgb(248, 212, 139);
}

.current .row .pill {
  border: inset rgb(248, 212, 139);
}

label {
  display: block;
  margin: 0.4rem 0 0.2rem;
  color: var(--muted);
  /*  border: 1px solid rgba(255, 255, 255, 0.2) !important;*/
}

input,
select {
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid #30363d;
  background: #0b1117;
  color: var(--text);
  padding: 8px 10px;
}

/*
input:focus,
select:focus,
button:focus {
  outline: 2px solid var(--blue);
}*/

/*
#newBtn {
  width: 10rem;
}*/

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.players-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 8px;
}

.pill {
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 20px;
  background: rgb(0, 12, 24);
  border: inset rgba(255, 210, 119, 0.4);
  color: #f1e536;
}

.pill.player-name {
  width: 10rem;
  text-transform: uppercase;
}

.pill.sets-legs {
  width: 10rem;
}
/*
.current {
  outline: 2px solid var(--accent);
  opacity: 1;
}*/

.score {
  font-weight: 700;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.sub {
  color: #f7ef8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-throws {
  font-size: 1.8rem;
}

.player-throws span:not(:first-child) {
  margin-left: 1rem;
}

.player-avg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.4rem;
}

.player-avg-h {
  margin-right: 1rem;
  text-align: left;
  width: 3rem;
}

.player-avg-set {
  text-align: right;
  color: #f7ef8a;
  width: 6rem;
}

.cur,
.rem,
.arr {
  display: flex;
}

.rem {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cur,
.arr {
  width: 6rem;
  color: #f5efa0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cur .cur-h,
.rem .rem-h,
.arr .arr-h {
  font-size: 1rem;
  text-align: center;
}

.cur .cur-v,
.rem .rem-v,
.arr .arr-v {
  margin-top: -0.5rem;
  padding: 0;
}

.cur .cur-v,
.arr .arr-v {
  font-size: 2rem;
}

.rem .rem-v {
  font-size: 5rem;
}

.rem {
  width: 8rem;
}

.throws {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(6, 0.2fr);
  gap: 2px;
}

.throws .group {
  grid-column: 1/-1;
  margin-top: 4px;
  color: #f7ef8a;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.clicked {
  background-color: var(--blue);
  color: #222;
}

.log {
  max-height: 360px;
  min-height: 360px;
  overflow: auto;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  background: #0b1117;
  border-radius: 10px;
  border: 1px solid #30363d;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid #f7ef8a;
}

tbody tr {
  border-bottom: 0.5px solid rgba(247, 239, 138, 0.3);
}

th {
  font-size: 1.4rem;
}

td {
  font-size: 1.2rem;
}

.co {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.winner {
  color: var(--accent);
  font-weight: 700;
}

.small {
  font-size: 1.2rem;
  color: #f7ef8a;
}
